.Linea1{
    display: flex;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.Linea2{
    display: flex;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.Linea3{
    display: flex;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.container-text{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.Textosuperior{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}
.banner{
    align-items: center;
    justify-content: center;
    display: flex;
}

#carrito{
    padding: 20px; border-top: 2px solid black;
}