.Linea1{
    display: flex;
    text-align: center;
}
.Linea2{
    display: flex;
    text-align: center;
}
.Linea3{
    display: flex;
    text-align: center;
}

.container-text{
    display: center;
    text-align: center;
}